/* Theme Colours
    Primary : 52b94c
    Contrast : 1c1b22
    Secondary : fafafa
*/

body{
    background-color: #2d5e01;
    margin: 0;
    padding: 0;

}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

header img{
    width: 15%;
    height: 80px;   
}

nav{
    display: inline;   
}

ul.nav_links{
    white-space: nowrap;
    display: flex;
    list-style-type: none;
    padding: 10px ;
    margin: 10px;
    justify-items: right;
}
ul.nav_links li{
    display: inline;
    padding: 10px;
    margin: 10px;
}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;

}

main ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    
}

main h2{
    color: whitesmoke;
    text-shadow: 2px 2px grey;

}



